<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
  <title>Admin panel</title>
</head>

<body class="bg-light">
<nav class="navbar navbar-dark bg-dark bg-gradient g-4 sticky-top">
  <div class="container-fluid">
    <span class="navbar-brand"> <strong>admin@mail.ru</strong> with roles: ADMIN ROLES</span>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<div class="bg-white col-2" style="position: fixed; height:100vh;">
  <br>
  <ul class="nav flex-column nav-pills nav-fill">
    <li class="nav-item">
      <input class="nav-link active text-start" aria-current="page" type="submit" value="Admin">
    </li>
    <li class="nav-item">
      <input class="nav-link text-start" type="submit" value="User">
    </li>
  </ul>
</div>

<br>
<div class="container-fluid gx-0">

  <div class="row ">
    <div class="col-2">

    </div>

    <div class="col-10">

      <div class="container-fluid gx-5 ">
        <div class="row">
          <div class="col px-0">
            <h1 class=" py-2">Admin panel</h1>
          </div>
        </div>

        <!-- Nav Tabs -->
        <div class="row">
          <div class="col px-0">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <input id="btnNavUsersTable" data-bs-toggle="tab" data-bs-target="#usersTable"
                       class="nav-link active" aria-current="page" type="submit" value="Users table">
              </li>
              <li class="nav-item">
                <input id="btnNavNewUser" data-bs-toggle="tab" data-bs-target="#newUserTab"
                       class="nav-link" type="submit" value="New user">
              </li>
            </ul>
          </div>
        </div>


        <!-- Tabs -->
        <div class="tab-content">

          <!-- Users tab -->
          <div id="usersTable" class="tab-pane fade show active">
            <div class="row border rounded-top">
              <div class="col gy-2">
                <h4 class="p-2">All users</h4>
              </div>
            </div>
            <div class="row border rounded-bottom bg-white">
              <div class="col-12 gy-3">
                <div class="table-responsive p-2">
                  <table class="table table-striped ">
                    <thead>
                    <tr class="border-top">
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>Ivan</td>
                      <td>Ivanov</td>
                      <td>34</td>
                      <td>ivan@mail.ru</td>
                      <td>user</td>
                      <td><input class="btn btn-info btn-block text-white" type="submit"
                                 value="Edit" data-bs-toggle="modal"
                                 data-bs-target="#editModal" />
                      </td>
                      <td><input class="btn btn-danger  btn-block" type="submit"
                                 value="Delete" data-bs-toggle="modal"
                                 data-bs-target="#deleteModal" />
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Ivan</td>
                      <td>Ivanov</td>
                      <td>34</td>
                      <td>ivan@mail.ru</td>
                      <td>ADMIN USER</td>
                      <td><input class="btn btn-info btn-block text-white" type="submit"
                                 value="Edit" /></button>
                      </td>
                      <td><input class="btn btn-danger  btn-block" type="submit"
                                 value="Delete" />
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- New user tab -->
        <div id="newUserTab" class="tab-pane fade">

          <div class="row border rounded-top">
            <div class="col gy-2">
              <h4 class="p-2">Add new user</h4>
            </div>
          </div>

          <div class="row border rounded-bottom bg-white ">
            <div class="col gy-3">
              <form>
                <div class="row justify-content-center ">
                  <div class="col-4 text-center">
                    <div class="mb-3">
                      <label class="form-label mb-0"><strong>First name</strong></label>
                      <input type="text" class="form-control" placeholder="Enter first name">
                    </div>

                    <div class="mb-3">
                      <label class="form-label mb-0"><strong>Last name</strong></label>
                      <input type="text" class="form-control" placeholder="Enter last name">
                    </div>

                    <div class="mb-3">
                      <label class="form-label mb-0"><strong>Age</strong></label>
                      <input type="number" class="form-control" placeholder="Enter age">
                    </div>

                    <div class="mb-3">
                      <label class="form-label mb-0"><strong>Email</strong></label>
                      <input type="email" class="form-control" placeholder="Enter email">
                    </div>

                    <div class="mb-3">
                      <label class="form-label mb-0"><strong>Password</strong></label>
                      <input type="password" class="form-control"
                             placeholder="Enter password">
                    </div>

                    <div class="mb-3">
                      <label class="form-label mb-0">
                        <strong>Role</strong>
                      </label>
                      <select multiple class="form-select" name="roles" size="3">
                        <option value="1">one</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <input type="submit" class="btn btn-success" value="Add new user">
                    </div>
                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal edit -->

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Edit user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-6 text-center ">

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>ID</strong>
                  </label>
                  <input type="text" name="id" class="form-control" value="1" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>First name</strong>
                  </label>
                  <input type="text" name="firstName" class="form-control" value="Ivan"
                         placeholder="Enter first name">
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Last name</strong>
                  </label>
                  <input type="text" name="lastName" class="form-control" value="Ivanov"
                         placeholder="Enter last name">
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Age</strong>
                  </label>
                  <input type="number" name="Age" class="form-control" value="34"
                         placeholder="Enter age">
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Email</strong>
                  </label>
                  <input type="email" name="email" class="form-control" value="ivanov@mail.ru"
                         placeholder="Enter email">
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Password</strong>
                  </label>
                  <input type="password" name="password" class="form-control" value="123"
                         placeholder="Enter password">
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Role</strong>
                  </label>
                  <select multiple class="form-select" name="roles" size="3">
                    <option value="1">one</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Edit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal delete -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-6 text-center ">

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>ID</strong>
                  </label>
                  <input type="text" name="id" class="form-control" value="1" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>First name</strong>
                  </label>
                  <input type="text" name="firstName" class="form-control" value="Ivan"
                         placeholder="Enter first name" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Last name</strong>
                  </label>
                  <input type="text" name="lastName" class="form-control" value="Ivanov"
                         placeholder="Enter last name" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Age</strong>
                  </label>
                  <input type="number" name="Age" class="form-control" value="34"
                         placeholder="Enter age" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Email</strong>
                  </label>
                  <input type="email" name="email" class="form-control" value="ivanov@mail.ru"
                         placeholder="Enter email" disabled>
                </div>

                <div class="mb-4">
                  <label class="form-label mb-0">
                    <strong>Role</strong>
                  </label>
                  <select multiple class="form-select" name="roles" size="3" disabled>
                    <option value="1">one</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>