<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1px solid grey">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
    </tr>
    <tr >
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
<br>
<input type="button" value="Logout" onclick="window.location.href = 'logout'"/>


</body>
</html>